{% extends 'base.html' %}
{% block title %}内容{% endblock %}
{% block content%}
    <div class="post">
 <div class="ui basic segment container">
      <div class="ui horizontal basic segments bodycontent">
        <div class="ui segment bodyleft" style="border:none;box-shadow:none;">
          <div class="ui basic segment articleimg" style="background:url('/upload/{{article.image}}');background-size: cover;
          background-repeat: no-repeat;">
            <hr>
            <div class="image-text" >
             {{article.title}}
            </div>
          </div>
          <div class="ui center aligned basic segment abstract">
 <p class="meta"><a href="/editpage/{{p.id}}">编辑</a> <span><a href=“deletepage/(?P<cate_id>\d+)/$”>删除</a></span> </p>

          </div>
          <div class="ui basic segment articledetail">
            <h1>{{article.title}}</h1>
            <p>

              <span style="font-size:16px;color: #000000;margin-left:10px;"> {{ article.author_name }}</span>
            <p style="color:#000000;width:600px;font-size:16px;margin-top:20px;line-height:2;">
              {{article.content}}


          <div class="ui basic segment comment">
            <p ><b>评论</b></p>
            {% for comment in comments %}
            <div class="comment" style="margin-top:22px;margin-bottom:20px;">
              <div class="ui image" style="height:50px;width:50px;">
                <img src="/upload/{{ comment.belong_user.profile.avatar }}" style="height:50px;width:50px;" alt="" />
              </div>
               <span class="time">&nbsp;&nbsp;&nbsp;<b style="color:black;">{{comment.belong_user.username}}</b>&nbsp;&nbsp;&nbsp;{{comment.created}}</span>
               <span class="black-reply">&nbsp;&nbsp;&nbsp;{{comment.words}}</span>
            </div>
           {% endfor %}
           <form class="ui error form"  method="post" >
             {% if form.errors %}
                 <div class="ui error message" >
                   {{form.errors}}
                 </div>
             {% endif %}
             {{form.comment}}
             {% if request.user.is_authenticated %}
             <button class="ui red button" style="width:144px;height:49px;position:relative;top:60px;" type="submit">
                   <span style="color: #ffffff;font-size: 20px;font-weight: bold;">写评论</span>
             </button>
             {% endif %}
             {% csrf_token %}
           </form>
   {{ result }}


          </div>
        </div>
      </div>
     </div>
</div>
{% endblock %}