{% extends 'base.html' %}
{% block title %}内容{% endblock %}
{% block content%}
<div class="ui basic segment body container">
      <div class="ui basic segment container topcontent" style="border:none">
        <div class="ui horizontal basic segments" style="border:none;">
          <div class="ui basic segment topleft" style="background: url('/upload/{{todaynew_big.image}}');background-size:cover;background-repeat: no-repeat;" >
            <a href="#" class="ui circular red  button" style="width:80px;height:35px;padding:0px;padding-top:10px;">今日热闻</a>
            <div class="ui basic segment title">
                 <a href="/detail/{{todaynew_big.id}}"><p style="color:#fff;font-size:28px;margin-left:8px;">{{todaynew_big.title}}</p></a>
            </div>
          </div>
          <div class="ui basic segment topright" >
            {% for todaynew in todaynew_top3 %}
                <div class="ui  segment" style="border:solid red 1px;">
                  <a href="/detail/{{todaynew.id}}">
                  <p>
                    {{todaynew.title}}
                  </p>
                  </a>
                  <span style="color:rgb(195, 200, 194)">{{todaynew.publish_time | date:"Y-m-d"}}</span>
                </div>
             {% endfor %}
          </div>
        </div>
      </div>

      <div class="ui  grid container">
      {% for index_recommend in index_recommendlist %}
        <div class="four wide column">
            <div class="ui basic segment" style="background:url('/upload/{{index_recommend.image}}');background-size: cover;
                    background-repeat: no-repeat;">
                <div class="ui basic segment title">
                    <p style="color:#fff;font-size:18px;margin-left:0px;">{{index_recommend.title}}</p>
                </div>
            </div>
       </div>
      {% endfor %}
      </div>

      <div class="ui horizontal basic segments bottomcontent">
        <div class="ui segment bottomleft" style="border:none;box-shadow:none;">
          {% for article in article_list %}
          <div class="ui segment article" style="border:none;box-shadow:none;">
            <div class="ui image">
              <img src="/upload/{{article.image}}" alt="" />
            </div>
            <div class="ui segment articlecontent" style="border:none;box-shadow:none;">
              <a href="/detail/{{article.id}}"><h3><b>{{article.title}}</b></h3></a>
              <p>
                {{article.abstract}}
              </p>
              <span style="color:rgb(206, 208, 204);position:absolute;transform:translate(0,100%);bottom:10%">{{article.publish_time | date:"Y-m-d"}}</span>
            </div>
          </div>
          {% endfor %}
          <div class="ui pagination menu" style="margin-left:50%;transform:translate(-50%,0%);">
            {% if article_list.has_previous %}
                <a href="?page={{article_list.previous_page_number}}" class="item"><i class="icon red left caret"></i></a>
            {% else %}
                <a href="?page={{article_list.start_index}}" class="disabled item"><i class="icon left caret"></i></a>
            {% endif %}

            {% for pagenumber in article_list.paginator.page_range %}
               {% ifequal pagenumber article_list.number %}
               <a href="?page={{ pagenumber }}" class="active item" style="background-color: red; color:white">
                                        {{ pagenumber }}
               </a>
               {% else %}
               <a href="?page={{ pagenumber }}" class="item">
                                        {{ pagenumber }}
               </a>
               {% endifequal %}
            {% endfor %}


            {% if article_list.has_next %}
                <a href="?page={{article_list.next_page_number}}" class="item"><i class="icon red right caret"></i></a>
            {% else %}
                <a href="?page={{article_list.paginator.num_pages}}" class="disabled item"><i class="icon right caret"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
</div>
      {% endblock %}