{% extends 'base.html' %}
{% load static %}
{% block title %}登录{% endblock %}
{% block content%}
    <div class="ui basic segment container content">
      <h1 class="ui center aligned header">登录</h1>
      <form class="ui form" method="post">
        <div class="field">
          <div class="ui image top">
            <img src="{% static 'images/login/usericon.png' %}" alt="" />
          </div>
          {{form.username}}
        </div>
        <div class="field">
          <div class="ui image top">
            <img src="{% static 'images/login/lockicon.png' %}" alt="" />
          </div>
          {{form.password}}
        </div>
        {% csrf_token %}

          <div class="field">
            <button class="ui right floated red circular button" type="submit" name="button">登录</button>
          </div>
      </form>
           {{ result }}

    </div>



{% endblock %}