{% extends 'base.html' %}
{% load static %}
{% block title %}内容{% endblock %}
{% block content%}
    <div class="ui basic segment container content">
      <h1 class="ui center aligned header">注册</h1>
      <form class="ui form error" method="post">
        {% if form.errors %}
          <div class="ui error message">
              {{ form.errors }}
          </div>
        {% endif %}
        <div class="field">
          <div class="ui  image top">
            <img src="{% static 'images/login/usericon.png' %}" alt="" />
          </div>
          {{form.username}}
        </div>
        <div class="field">
          <div class="ui  image top">
            <img src="{% static 'images/login/checkboxicon.png' %}" alt="" />
          </div>
          {{form.email}}
        </div>
        <div class="field">
          <div class="ui  image top">
            <img src="{% static 'images/login/lockicon.png' %}" alt="" />
          </div>
          {{form.password}}
        </div>
        <div class="field">
          <div class="ui  image top">
            <img src="{% static 'images/login/lockicon.png' %}" alt="" />
          </div>
          {{form.password_confirm}}
        </div>
        {% csrf_token %}
        <div class="field">
          <button type="submit" class="ui red button register">注册</button>
        </div>
      </form>
               {{ result }}

    </div>
          {% endblock %}
